<div style="text-align:center">
<!-- Data binding through interpolation to display app title and Hero object properties -->
  <h1>
    {{title}}!
  </h1>
</div>
<br/>
<ul class="heroes">
  <!-- ngFor directive iterates over component's heroes and renders instance of this template for each hero in array. 
  Handle click event binding to the <li>. Pass tempalte input variable hero as argument to onSelect() --> 
  <li *ngFor="let hero of heroes" 
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<!-- hide empty detail with ngIf. When app loads, selectedHero is undefined. It's initialized when user clicks her's name. --> 
 <div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>

